---
import Layout from '../layouts/Layout.astro';
const res = await fetch(`${Astro.request.url}/api/getData.json`);
const data = await res.json();
const display = JSON.stringify(data, null, 2);
---

<Layout title="Welcome to Astro.">
  <div>Data from google sheet</div>
  <pre id="json" class="whitespace-break-spaces">{display}</pre>
</Layout>
