---

---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>Astro</title>
    <script src='htmx.js' is:inline></script>
  </head>
  <body
    class='flex flex-col items-center mt-24 bg-neutral-900 text-sm text-neutral-50'
  >
    <h1>To Do List astro htmx</h1>
    <form
      hx-put='/actions/post'
      hx-swap='afterend'
      hx-target='#lists'
      class='mt-4 flex flex-col'
    >
      <input
        name='task'
        class='w-80 rounded-lg outline-none text-neutral-900 py-2 px-4 border'
      />
      <button
        type='submit'
        class='w-80 rounded-lg text-neutral-50 py-2 px-4 mt-2 bg-blue-600 flex justify-center'
      >
        Add
      </button>
    </form>
    <div class='mt-4' id='lists'></div>
  </body>
</html>
