---
import Layout from '../layouts/Layout.astro';
import db, { schema } from '@/db/client';

const users1 = await db.query.users.findMany();
const users2 = await db.select().from(schema.users);

console.log('1', users1);
console.log('2', users2);
---

<Layout title='Welcome to Astro.'>
  <main class='border'>main here</main>
</Layout>
