---
const req = await Astro.request;
console.log('body', req.body);
---

<form hx-put='/actions/put' hx-target='closest li' hx-swap='outerHTML'>
  <input
    autofocus
    name='editedtask'
    class='w-20 outline-none border-neutral-300 border px-2 bg-transparent'
  />
  <button type='submit' class='text-green-500'>confirm</button>
</form>
