---
const formData = await Astro.request.formData();
console.log(formData);
const task = formData.get('task')?.toString();
---

<li>
  {task}
  <button class='text-green-500' hx-get='/actions/edit' hx-target='closest li'>
    edit
  </button>
  <button
    class='text-red-500'
    hx-delete='/actions/delete'
    hx-target='closest li'
    hx-swap='outerHTML'
  >
    delete
  </button>
</li>
