---
const formData = await Astro.request.formData();
const task = formData.get('task')?.toString();
---

<ul class='list-disc flex gap-4 items-center'>
  <li>{task}</li>
  <button
    class='text-red-500'
    hx-delete='/actions/delete'
    hx-target='closest ul'>delete</button
  >
</ul>
