---
const formData = await Astro.request.formData();
const editedtask = formData.get('editedtask')?.toString();
console.log(editedtask);
---

<li class='task flex gap-4'>
  {editedtask}
  <span>why cant i see this</span>
  <button
    class='text-green-500'
    hx-get='/actions/edit'
    hx-target='closest ul'
    hx-include='closest li'
  >
    edit
  </button>
  <button
    class='text-red-500'
    hx-delete='/actions/delete'
    hx-target='closest ul'
  >
    delete
  </button>
</li>
