---
const formData = await Astro.request.formData();
const editedtask = formData.get('editedtask')?.toString();
---

<li>
  {editedtask}
  <button
    class='text-green-500'
    hx-get='/actions/edit'
    hx-target='closest li'
    hx-include='closest li'
  >
    edit
  </button>
  <button
    class='text-red-500'
    hx-delete='/actions/delete'
    hx-target='closest li'
    hx-swap='outerHTML'
  >
    delete
  </button>
</li>
